version: '3'
services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./server:/app
  frontend:
    build: ./client/client
    ports:
      - "3000:3000"
    volumes:
      - ./client/client:/app
    depends_on:
      - backend
